PORT=7000

# Oracle Database
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SID=XEPDB1
ORACLE_USER=uptc
ORACLE_PASSWORD=uptc123

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=node-kafka-keycloak-demo
KAFKA_GROUP_ID=node-kafka-keycloak-consumer
KAFKA_TOPIC=demo-events

# Keycloak
KEYCLOAK_ISSUER=http://localhost:8080/realms/node-demo
KEYCLOAK_AUDIENCE=node-client
# Opcional: si quieres definir el endpoint JWKS manualmente
# KEYCLOAK_JWKS_URI=http://localhost:8080/realms/node-demo/protocol/openid-connect/certs