PORT=3000

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=node-kafka-keycloak-demo
KAFKA_GROUP_ID=node-kafka-keycloak-consumer
KAFKA_TOPIC=demo-events

KEYCLOAK_ISSUER=http://localhost:8080/realms/node-demo
KEYCLOAK_AUDIENCE=node-client
# Opcional: si quieres definir el endpoint JWKS manualmente
# KEYCLOAK_JWKS_URI=http://localhost:8080/realms/node-demo/protocol/openid-connect/certs